@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Karla', serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ccc;
    width: 100vw;
    height: 100vh;
}
.container{
    background-color: rgb(24, 68, 187);
    border-radius: 12px;
    box-shadow: 10px 10px 12px rgba(0, 0, 0, 0.664);
    width: 30vw;
    height: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
.container h1{
    color: #fff;
    margin: 10px;
}
.container .box input{
    background-color: #fff;
    color: black;
    border: 2px solid #ccc;
    width: 250px;
    height: 40px;
    padding: 0 10px;
    outline: none;

    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 8px;
}
.container .btn-login{
    margin: 10px;
    display: flex;
    flex-direction: column;
}
.container .btn-login button{
    padding: 10px 50px;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    border: 2px solid #fff;

    color: #212121;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.644);
    text-transform: uppercase;
}

.container .btn-login button:hover{
    transform: scale(0.96);
    background-color: rgb(24, 68, 187);
    color: #fff;
    border: 2px solid #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.637);
    transition: all 0.2s;
    
}
.container .itens .esqueceu{
    margin: 5px;
}
.container .itens{
    color: #fff;
    font-size: 10pt;
}

.container .itens input{
    margin: 5px;
    cursor: pointer;
}
.container .esqueceu a{
    margin: 20px;
    color: rgb(196, 196, 196);
    outline: none;
    text-decoration: none;
}
.container .esqueceu a:hover{
    color: rgb(174, 248, 0);
}

@media  (max-width:700px){
    .container{
        width: 300px;
        height: 400px;
    }
    .container .box input{
        width: 200px;
    }
}